button {
    background-color: #b50ef0;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body{
    background-color: #9fa8ea;
    font-style: oblique;

}

